extends ../layouts/common.pug

block content
	h1 
		span.mr-2 Users
		a.btn.btn-primary(href="/users/create") New


	.d-flex.align-items-center

		form.ml-auto(action="/users/search", method="GET", class="d-flex")
			input(type="text", name="q",class="form-control ml-2")
			button(class="btn btn-primary") search
	table.table
		tr
			th Avatar
			th Name
			th Phone
			th Actions

		each user in users
			tr
				td
					img(src=user.avatar, width="40px")
				td= user.name
				td= user.phone
				td
					a(href="/users/" + user.id) View